<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of All Available Reviews</title>
    <link rel="stylesheet" th:href="@{/reviews.css}" />
</head>
<body>
<header>
    <h1>A List of All Reviews</h1>
</header>
<main>
    <ul>
        <li th:each="review: ${reviewsModel}"><a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a></li>
    </ul>
</main>
<footer>
    <small>Copy Zibad Maldaye 2022</small>
</footer>

</body>
</html>